.CardConteiner{
  margin: 200px auto;
  position: relative;
  width: 50%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:20px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}
.paginador{
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  bottom: -150px;
  transform: translateX(-50%);
}
.filter{
  
  position: absolute;
  left: 50%;
  top: -200px;
  transform: translateX(-50%);

}

.vnt{
  background-color: #d9d5ff;
  border: none;
  
  font-size: 1rem;
  width: 5em;
  border-radius: 1rem;
  color: #3f3c5a;
  box-shadow: 0 0.4rem #3c3636;
  cursor: pointer;
}
.vnt:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
 }
 
 .vnt:hover:not(:disabled) {
  background: #6855f8;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
 }
 
 .vnt:disabled {
  cursor: auto;
  color: grey;
 }


.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }